<content>
    <div class="modal fade" id="crearCampana" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Campaña</h5>
                </div>
                <div class="modal-body">
                    <form  th:action="@{/campana/registro}" method="POST" enctype="multipart/form-data" id="formulario">
                        <div th:replace="/fragments/msjes-error-exito :: div"></div>
                        <div class="mb-3">

                            <label for="titulo" class="form-label" >Título</label>
                            <input required type="titulo" class="form-control" name="titulo" th:value="${titulo}" />
                            <span id="errorTitulo" class="error"></span>
                        </div>

                        <div class="mb-3">
                            <label for="cuerpo" class="form-label">Cuerpo</label>
                            <textarea required style="resize: none; height: 200px;" type="text" class="form-control"
                                name="cuerpo"></textarea>
                            <span id="errorCuerpo" class="error"></span>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <textarea required style="resize: none; height: 100px;" type="text" class="form-control"
                                name="descripcion"></textarea>
                            <span id="errorDescripcion" class="error"></span>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Seleccionar imagen</label>
                            <input name="archivo" class="form-control" type="file">

                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-success">
                                Enviar
                            </button>
                    </form>
                </div>
                <div class="modal-footer mb-0 pe-0">
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('formulario');
            var input1 = document.getElementsByName('titulo')[0];
            var input2 = document.getElementsByName('cuerpo')[0];
            var input3 = document.getElementsByName('descripcion')[0];
            var errorTitulo = document.getElementById('errorTitulo');
            var errorCuerpo = document.getElementById('errorCuerpo');
            var errorDescripcion = document.getElementById('errorDescripcion');

            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault(); // Prevent form submission if it is not valid

                    if (input1.validity.valueMissing) {
                        errorTitulo.textContent = 'El titulo no puede estar vacio...';
                    } else {
                        errorTitulo.textContent = '';
                    }

                    if (input2.validity.valueMissing) {
                        errorCuerpo.textContent = 'El cuerpo no puede estar vacio.';
                    } else {
                        errorCuerpo.textContent = '';
                    }

                    if (input3.validity.valueMissing) {
                        errorDescripcion.textContent = 'La descripción no puede estar vacía.';
                    } else {
                        errorDescripcion.textContent = '';
                    }
                }
            });
        });
    </script>
</content>