       <footer class="py-1 my-0 bg-dark" id="footerClass">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a th:href="@{/noticia/lista}" class="nav-link px-2 text-light">Novedades</a></li>
          <li class="nav-item"><a th:href="@{/campana/lista}" class="nav-link px-2 text-light">Campañas</a></li>
          <li class="nav-item"><a th:href="@{/publicacion/lista}" class="nav-link px-2 text-light">Publicaciones</a></li>
        </ul>
        <p class="text-center text-light">© 2023 Copyrigth for Climate Aware</p>
      </footer>