       <footer class="py-1 my-0 bg-dark" id="footerClass">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <a  class="fs-4 text-white text-decoration-none align-items-left croogla" th:href="@{/}">Climate aware</a>
            <img src="/img/logo.png" class="imagenNavbar" >
            
        </ul>
                <a class="fs-4 text-decoration-none align-items-left nav justify-content-center pb-2 mb-2 py-2 text-light">Integrantes del Proyecto</a>
           <ul class="nav justify-content-center border-bottom pb-3 mb-3">
               
            
          <li class="item2"><p  class="link2 px-1 text-light"><i class="bi bi-code-slash"></i></p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Lorca, Agustin |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Barraza, Gonzalo |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Rivadeneira, Cesar |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Caporicci, Pablo |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Basso, Jeronimo |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Far, Federico |</p></li>
          <li class="item2"><p  class="link2 px-1 text-light">Superlango, Gustavo</p></li>
           <li class="item2"><p  class="link2 px-1 text-light"><i class="bi bi-code-slash"></i></p></li>
        
        </ul>
        <p class="text-center text-light">© 2023 Copyrigth for Climate Aware<i class="bi bi-arrow-bar-up" id="ir-arriba"></i></p>
      </footer>