<nav class="navbar navbar-expand-md bg-body-primary shadow">
    <div class="container-fluid">
  
        <a  class="fs-4 fw-bold text-black text-decoration-none" th:href="@{/}">Climate aware</a>
        <img src="/img/logo.png" class="imagenNavbar" >
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
      
    
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ms-auto py-2" >
         <li class="nav-item ">
           <a class="nav-link " th:href="@{/}" >Inicio</a>
         </li>
         <li class="nav-item ">
           <a class="nav-link " th:href="@{/novedades/lista}" >Novedades</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/campaña/lista}">Campañas</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/empresa/lista}">Empresas</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/publicaciones/lista}">Publicaciones</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN', 'VOTANTE, 'EMPRESA')">Panel</a>
         </li>
         <li class="nav-item">
           <a class="btn btn-outline-success mx-1" th:if="${(session.usuariosession == null)}"   aria-current="page" th:href="@{/registrar}">Registrarse</a>
         </li>
         <li class="nav-item">
           <a class="btn btn-outline-secondary mx-1" th:if="${(session.usuariosession == null )}"  aria-current="page" th:href="@{/login}" >Ingresar</a>
         </li>
         <li class="nav-item">
            <a class="btn btn-outline-secondary mx-1" th:href="@{/perfil}" th:if="${session.usuariosession != null}">Editar Perfil</a>
         </li>
         <li class="nav-item">
            <a class="btn btn-outline-secondary mx-1" href="/logout" th:if="${session.usuariosession != null}">Cerrar Sesion</a>
         </li>
    
                
                 
                 
                

                 
                 
          
                 
           
         </div>
       </ul>
     </div>
        
       
   </div>
   </nav>  