body {
  background: #ffffff !important;
  background: linear-gradient(to right, #ffffff, #007f5f) !important;
}

.bg {
  background-image: url(../img/imagen-login.jpg) !important;
  background-position: center center !important;
}
