/* Reset CSS */

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    background-color: rgba(85, 166, 48, .1) !important;
 
}

@font-face {
    font-family: Rigtheous;
    src: url(../fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: "croogla";
    src: url("../fonts/croogla.ttf") format("truetype");
}
.croogla {
    font-family: "croogla", Arial, sans-serif;
    font-size: 90px !important;
    color: #80b918 !important;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.imagenNavbar {

    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    padding: auto;

}
.navbar .container-fluid #navbarNav .nav-item .nav-link:hover {
    text-decoration: underline !important;
    color: #80b918;
    transition: 0.5s !important;
}
footer .nav .item2 .link2 {
   text-decoration: none !important;
    color: #80b918 !important;
    transition: 0.5s !important;
}

#navbarNavDarkDropdown .navbar-nav .nav-item .dropdown-menu a:hover {
    text-decoration: underline !important;
    color: #80b918;
    transition: 0.5s !important;
}
.custom-toggler.navbar-toggler {
    border-color: #80b918;
    transition: 0.5s;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

/*PRESEENTACION*/
.text-center {
    transition: height 0.3s ease;
}
.text-pre {
    font-family: "croogla";
    color: #80b918;
    font-size: 70px;
    text-shadow: #020201;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
.text-camp2 {
    font-family: "croogla";
    color: #80b918;
    font-size: 50px;
    text-shadow: #020201;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.text-camp {
    font-family: "croogla";
    color: #80b918;
    font-size: 50px;
    text-shadow: #020201;
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.text-center .col-lg-7 .lead {
    font-weight: bold;
}
#tituloPresentacion {
    animation: mover-abajo-arriba 2s 1;
}
.campañaPost.mover-izquierda-derecha {
    animation: mover-derecha-izquierda 5s 1, forwards;
}
.campañaPost.mover-derecha-izquierda {
    animation: mover-izquierda-derecha 5s 1, forwards;
}
/*ACA SE CENTRA EL BOTON DE CARGAR MAS LISTAS*/

#btn-cargar-mas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding:10px;
    margin-left: 70px;
}

/*FOOTER*/
#footerClass .nav .nav-item .nav-link:hover {

    color: #80b918 !important;
    transition: 0.5s;
}

/*Boton para ir arriba*/
footer #ir-arriba {
	display:none;
	padding:10px !important;
	background:#80b918;
	font-size:40px !important;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px !important;
	right:20px !important;
}
/*KEYFRAMES DE TRANCICIONES*/

/*TRANSICION DE PRESENTACION*/
@keyframes mover-abajo-arriba {
    from {
        transform: translatey(100px);
    }
    to {
        transform: translatey(0px);
    }
}
/*TRANSICION DE NOTICIAS*/
@keyframes mover-izquierda-derecha {
    from {
        transform: translatex(-100px);
    }
    to {
        transform: translatex(0px);
    }
}
@keyframes mover-derecha-izquierda {
    from {
        transform: translatex(100px);
    }
    to {
        transform: translatex(0px);
    }
}


/*-------------------Animación mensajes de error y/o exito  ------------------------------*/

.alert {

    display: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.alert.animated.fadeIn {
    animation-name: fadeIn;
}

.alert.animated.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*Muestra el mensaje por encima de los elementos*/
.error-container {
    position: absolute !important;

}
.form-container {
    position: absolute;
}



/*-------------------------------------------------------Cards----------------------------------------------------------*/


/*aca se controla la imagen del listado de campañas en el campana_list*/
.row .col-md-5 .bd-placeholder-img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;

}
.row .col-md-5 .imagen-container {
    width: 100%;
    height: 200px; /* Ajusta el tamaño deseado para las imágenes */
    overflow: hidden;
}

.row .col-md-5 .imagen-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*aca se controla la imagen del listado de campañas en el index*/
.row .col-md-6 .row-cols-1 .col .card .card-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/*Para mostrar todos los elementos hijos a la misma altura en todas las cards*/
#body-card-tamaño-pequeño {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#img-card-tamaño-pequeño {
    height: 250px; /* altura de imagen fija para todas las cards */
    object-fit: cover; /* para asegurarte de que la imagen se ajuste al tamaño que necesitas */
}
#card-tamaño-pequeño {
    height: 420px !important; /* altura de las cards fija */
}

/* Para todas las cards, aplicamos color negro en los textos y que no tenga ninguna decoracion */
.a-card {
    text-decoration: none !important;
    color: black;
}
/* Al pasar el cursor se subraya el texto del titulo */
.a-subrayado:hover {
    text-decoration: underline !important;
}

/* Al pasar el cursor se subraya el periodista en otro color */
.card-votante:hover {
    text-decoration: underline !important;
    color: goldenrod;
}







/*-------------------------------------------------------Accordion cards panel admin----------------------------------------------------------*/
button.accordion-button:not(.collapsed) {
    background-color: transparent;
}

button.accordion-button:focus {
    outline: none;
    box-shadow: none;

}

/*-------------------------------------------------------Texto cambiar foto perfil en perfil de usuario----------------------------------------------------------*/
.custom-file-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: blue ;

}

.custom-file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



