<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

     <head  th:replace = "/fragments/head :: head"> </head>
     
      <header> 
            <nav th:replace= "/fragments/navbar :: nav"></nav>
        </header>

    <body>

        <h2 align="center">Listado Campanas:</h2>
        <div class="container m-5">

            <div class="container m-5">

                <table class="table table-info ">
                    <thead>
                        <tr>
                            <th scope="col">idCampana</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Cuerpo</th>
                            <th scope="col">fecha de alta</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Cuerpo Publicaciones</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Estado</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                        </tr>
                    </thead>
                    <tbody th:each="campana : ${campanas}">
                        <tr class="table-light">
                            <th scope="row" th:text="${campana.idCampana}"></th>
                            <td th:text="${campana.titulo}"></td>
                            <td th:text="${campana.Cuerpo}"></td>
                            <td th:text="${campana.fechaAlta}"></td>
                            <td th:text="${campana.nombreEmpresa}"></td>
                            <td th:text="${campana.publicaciones.cuerpo}"></td>
                           
                            <td>
                                <a><img th:if="${campana.imagen != null}" class="logo"
                                        th:src="@{/imagen/perfil/__${campana.idCampana}__}"></a>

                            </td>
                            <td th:text="${campana.altaBaja}"></td>
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/campana/modificar/__${campana.idCampana}__}"><i
                                        class="fas fa-feather-alt"></i> Modificar </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>






         <footer th:replace="/fragments/footer :: footer" ></footer>
            <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>

</html>