<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>
    <!--en este header se encuentra el nav  <div class="hero"></div>-->
    <header>
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>


    <div class="container py-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <!-- Título de la noticia -->
                <h1 th:text="${campana.titulo}" class="text-camp2 text-center"></h1>
                <!-- Subtítulo de la noticia -->
                <h4 class="featurette fw-normal lh-1 text-left text-secondary-emphasis"
                    th:text="${campana.descripcion}"></h4>
                <hr class="my-4">
                <div th:if="${campana.empresa != null}"
                    style="display: flex; align-items: center; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <img th:src="@{/imagen/perfil/__${campana.empresa.id}__}" alt="Imagen de perfil"
                            class="rounded-circle img-fluid" style="width: 60px; height: 60px; margin-right: 10px;">
                        <div style="display: flex; flex-direction: column;">
                            <a th:href="@{/campana/__${campana.idCampana}__}" class="text-muted a-card">
                                <h7 class="card-periodista">Por <span th:text="${campana.empresa.nombreEmpresa}"
                                        class="fw-bold"></span></h7>
                            </a>
                            <div>
                                <h7 th:text="${campana.empresa.email}"></h7>
                            </div>
                        </div>
                    </div>
                    <a sec:authorize="hasRole('VOT')" th:if="${session.usuariosession.altaBaja == true}"
                        th:href="@{/publicacion/campana/__${campana.idCampana}__/crearPublicacion}" type="button"
                        class="btn btn-success">Crear publicación</a>
                    <div sec:authorize="not(hasAnyRole('EMP', 'ADM'))" class="btn-group">
                        <button id="botonSeguir" type="submit" class="btn btn-light">
                            <span th:text="Seguir" id="seguirEstado"></span>
                            <span id="seguidores" class="ps-2" th:text="${campana.getVotantes().size()}"></span>
                        </button>
                        <button class="btn btn-light dropdown-toggle dropdown-toggle-split ps-2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <div th:each="seguidor:${campana.getVotantes()} " th:value="${seguidor.id}"
                                    class="dropdown-item me-5">
                                    <img th:src="@{/imagen/perfil/__${seguidor.id}__}" alt="Imagen de perfil"
                                        class="rounded-circle img-fluid" style="width: 40px; height: 40px;">
                                    <span th:text="${seguidor.nombreApellido}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="my-4">
                <!-- Imagen de la publicacion -->
                <img th:src="@{/imagen/campana/__${campana.idCampana}__}" alt="Imagen de la campaña"
                    class="img-fluid mb-3 w-600 h-400 shadow-lg ">

                <div class="d-flex mb-3">
                    <p class="text-muted fw-bold">Fecha de publicación: <span th:text="${campana.fechaAlta}"></span></p>
                </div>

                <p th:text="${campana.cuerpo}"></p>

            </div>
        </div>
        <h1 class="text-pre text-camp2 text-center">Publicaciones</h1>
        <div class="text-center" sec:authorize="not(hasAnyRole('ROLE_ADM', 'ROLE_EMP'))"
            th:if="${#lists.isEmpty(publicaciones)}">
            <h2 class="featurette fw-normal lh-1 text-secondary-emphasis">Todavía no hay publicaciones en esta campaña.
                Anímate y empieza ahora</h2>
            <a sec:authorize="hasRole('VOT')" th:if="${session.usuariosession.altaBaja == true}"
                th:href="@{'/publicacion/campana/' + ${campana.idCampana} + '/crearPublicacion'}" type="button"
                class="btn btn-success">Crear publicación</a>
        </div>



        <!-- Seccion Publicaciones -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4" th:each="publicacion :${publicaciones}"
                    th:if="${publicacion.altaBaja == true}">

                    <a th:href="@{/publicacion/publicacion_one/__${publicacion.idPublicacion}__}" class="a-card">
                        <div class="card shadow">
                            <img th:src="@{/imagen/publicacion/__${publicacion.idPublicacion}__}" class="card-img-top"
                                id="img-card-tamaño-pequeño" alt="...">
                            <div class="card-body">
                                <h1 class="fs-5 a-subrayado" th:text="${publicacion.titulo}"></h1>
                                <p th:text="${publicacion.descripcion}"></p>
                                <h7 class="card-votante">Por <span th:text="${publicacion.votante.nombreApellido}"
                                        class="fw-bold"></span></h7>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <section style="background-color: #BFD200;">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">
                        <div class="card-body p-4">
                            <h4 class="mb-0">Comentarios recientes</h4>
                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar"
                                    width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">
                                            March 07, 2021
                                            <span class="badge bg-primary">Pending</span>
                                        </p>
                                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0" />

                        <div class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar"
                                    width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold mb-1">Lara Stewart</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">
                                            March 15, 2021
                                            <span class="badge bg-success">Approved</span>
                                        </p>
                                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                        <a href="#!" class="text-success"><i class="fas fa-redo-alt ms-2"></i></a>
                                        <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                        has roots in a piece of classical Latin literature from 45 BC, making it
                                        over 2000 years old. Richard McClintock, a Latin professor at
                                        Hampden-Sydney College in Virginia, looked up one of the more obscure
                                        Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                        the cites.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0" style="height: 1px;" />

                        <div class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar"
                                    width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">
                                            March 24, 2021
                                            <span class="badge bg-danger">Rejected</span>
                                        </p>
                                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        There are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered alteration in some form, by injected humour, or
                                        randomised words which don't look even slightly believable. If you are
                                        going to use a passage of Lorem Ipsum, you need to be sure.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0" />

                        <div class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar"
                                    width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold mb-1">Betty Walker</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">
                                            March 30, 2021
                                            <span class="badge bg-primary">Pending</span>
                                        </p>
                                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        It uses a dictionary of over 200 Latin words, combined with a handful of
                                        model sentence structures, to generate Lorem Ipsum which looks
                                        reasonable. The generated Lorem Ipsum is therefore always free from
                                        repetition, injected humour, or non-characteristic words etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div th:if="${session.usuariosession != null}" class="card-footer py-3 border-0"
                            style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="avatar" width="60"
                                    height="60" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaExample" rows="4"
                                        style="background: #fff;"></textarea>
                                    <!-- <label class="form-label" for="textAreaExample">Sé respetuoso</label>-->
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="button" class="btn btn-primary btn-sm">Comentar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer th:replace="/fragments/footer :: footer"></footer>
    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/eventos.js" type="text/javaScript"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("button#botonSeguir").click(function () {
                var id = [[${ campana.idCampana }]];
                $.ajax({
                    type: "POST",
                    url: "/campana/" + id + "/seguir",
                    success: function (data) {
                        if (data !== -1 && data !== -2) {
                            $("#seguidores").text(data);
                            if ($("#seguirEstado").text() == "Seguir") {
                                $("#seguirEstado").text("Seguidores");
                            } else {
                                $("#seguirEstado").text("Seguir");
                            }
                        } else if (data == -2) {
                            alert("Debe estar logueado como usuario votante.")
                        } else {
                            window.location.href = "/login"
                        }
                        actualizarSeguidoresList(); 
                    },
                    error: function () {
                        alert("Debe estar logeado como usuario votante")
                    }
                });
            });

            function actualizarSeguidoresList() {
            $.ajax({
                type: "GET",
                url: "/campana/" + [[${campana.idCampana}]] + "/votantes",
                success: function (data) {
                    var dropdownMenu = $(".dropdown-menu");
                    dropdownMenu.empty();
                    data.forEach(function (seguidor) {
                        var listItem = $('<div class="dropdown-item me-5"></div>');
                        var img = $('<img src="/imagen/perfil/' + seguidor.id + '" alt="Imagen de perfil" class="rounded-circle img-fluid" style="width: 40px; height: 40px;">');
                        var span = $('<span></span>').text(seguidor.nombreApellido);
                        listItem.append(img, span);
                        dropdownMenu.append($('<li></li>').append(listItem));
                    });
                },
                error: function () {
                    console.log("Error cargando los seguidores.");
                }
            });
        }
        });

        
    </script>
</body>

</html>