<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    
     <head  th:replace = "/fragments/head :: head"> </head>
    <body>
        <!--en este header se encuentra el nav  <div class="hero"></div>-->
        <header> 
            <nav th:replace= "/fragments/navbar :: nav"></nav>
        </header>
<body>
  
        <h2 align="center">Listado Campañas:</h2>
        <div class="container m-5">

            <div class="container m-5">

                <table class="table table-info ">
                    <thead>
                        <tr>
                            <th scope="col">idCampaña</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Cuerpo</th>
                            <th scope="col">fecha de alta</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Cuerpo Publicaciones</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Estado</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                        </tr>
                    </thead>
                    <tbody th:each="campaña : ${campanas}">
                        <tr class="table-light">
                            <th scope="row" th:text="${campaña.idCampaña}"></th>
                            <td th:text="${campaña.titulo}"></td>
                            <td th:text="${campaña.cuerpo}"></td>
                            <td th:text="${campaña.fechaAlta}"></td>
                            <td th:text="${campaña.nombreEmpresa}"></td>
                            <td th:text="${campaña.publicaciones.cuerpo}"></td>
                           
                            <td>
                                <a><img th:if="${campaña.imagen != null}" class="logo"
                                        th:src="@{/imagen/perfil/__${campaña.idCampaña}__}"></a>

                            </td>
                            <td th:text="${campaña.altaBaja}"></td>
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/campaña/modificar/__${campaña.idCampaña}__}"><i
                                        class="fas fa-feather-alt"></i> Modificar </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        </div>
 
       <h1 class="text-pre text-center">Campañas</h1>
       <div class="container marketing">

    <div class="row featurette py-5 campañaPost" th:each="campana : ${campanas}">
      <div class=" col-md-6">
        <h3 class="featurette-heading fw-normal lh-1 text-center" th:text="${campana.titulo}"><strong>Aca va el Titulo</strong> </h3>
        <h4 class="featurette fw-normal lh-1 text-left text-secondary-emphasis" th:text="${campana.Descripcion}">aca va la descripcion </h4>
        <p class="lead" th:text="${campana.Cuerpo}">aca va el texto limitado, texto limitado, texto limitado, texto limitado, texto limitado, texto limitado, texto limitado</p>
        <button type="button" class="btn btn-outline-secondary btn-sm px-4" th:href= "@{/campaña/campañaOne/__${campaña.idCampaña}__} ">Ver mas</button>
        <button type="button" class="btn btn-outline-secondary btn-sm px-4" th:href= "@{/campaña_one/modificar/__${campaña.idCampaña}__} ">Editar</button>
        <button type="button" class="btn btn-outline-danger btn-sm px-4" th:href= "@{/campaña/eliminar/__${campaña.idCampaña}__} ">Eliminar</button>
        <br><br>
        <p class="text-campañaList text-secondary" ><i>Fecha de inicio:</i></p> 
        <p class="text-campañaList text-secondary" th:text="${campana.fechaAlta}"><i>20/20/20</i></p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" th:if="${campaña.imagen != null}"width="300" height="300" th:src="@{/imagen/perfil/__${campaña.idCampaña}__}" alt=""></div>
    </div>
    </div>
     


        <footer th:replace="/fragments/footer :: footer" ></footer>
            <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <script src="../js/eventos.js" type="text/javaScript"></script>
    </body>
</html>