
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    
     <head  th:replace = "/fragments/head :: head"> </head>
    <body>
        <!--en este header se encuentra el nav  <div class="hero"></div>-->
        <header> 
            <nav th:replace= "/fragments/navbar :: nav"></nav>
        </header>
        
        <!--PRESENTACION DE LA PAGINA-->
        <div class="px-4 py-5 my-2 text-center" id="tituloPresentacion">
            <h1 class="text-pre">Climate Aware</h1>
            <div class="col-lg-7 mx-auto">
                <p class="lead my-2 mb-2 text-body">Bienvenidos: Destacando las campañas empresariales en la web para mejorar el medio ambiente. Trabajamos con empresas de todos los sectores, promoviendo iniciativas sostenibles como la reducción de emisiones de carbono y el uso de energías renovables. Nuestra plataforma ofrece una vitrina global para que las empresas compartan sus logros y inspiren a otros. Colaboramos con las empresas para maximizar su impacto sostenible, brindando recursos y asesoramiento. Únete a Climate Aware para fortalecer tu reputación como líder responsable y contribuir a un futuro más verde.</p>
                
            </div>
        </div>
        <hr class="featurette-divider">

        <!--CARDS NOVEDADES-->
        <h1 class="text-pre text-center">Novedades</h1>
        <div class="container marketing">

            <div class="row featurette py-5 campañaPost ">
                <div class=" col-md-6">
                    <h2 class="featurette-heading fw-normal lh-1 text-center"><strong>First featurette heading.</strong> </h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver mas</button>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="../img/pexels-pixabay-159397.jpg" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette py-5 campañaPost">
                <div class="col-md-6 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 text-center"><strong>Oh yeah, it’s that good.</strong>  </h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver mas</button>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="../img/pexels-tom-fisk-2283496.jpg" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette py-5 campañaPost">
                <div class="col-md-6 ">
                    <h2 class="featurette-heading fw-normal lh-1 text-center"><strong>And lastly, this one.</strong> </h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver mas</button>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="../img/pexels-cats-coming-421999.jpg" alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

            <!--CAMPAÑAS Y PUBLICACIONES-->
        </div>

        <div class="">
            <div class="row ps-4 m-4">
                <div class="col-md-7">
                    <h3 class="text-camp text-center pb-4">Campañas</h1>
                        <div class="row row-cols-1 row-cols-md-2 g-4" th:each="campana : ${campanas}">
                            <div class="col">
                                <div class="card">
                                    <img th:src="@{/imagen/campana/__${campana.idCampana}__}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${campana.titulo}">Titulo de Campaña</h5>
                                        <p class="card-text" th:text="${campana.descripcion}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                         <p class="text-campañaList text-secondary" ><i>Fecha de inicio:</i></p> 
                                         <p class="text-campañaList text-secondary" th:text="${campana.fechaAlta}"><i>20/20/20</i></p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4 class="fst-italic">Publicaciones recientes</h4>
                        <hr class="featurette-divider">
                        <ul class="list-unstyled ">
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-4 link-body-emphasis text-decoration-none border-top" href="#">
                                    <img src="../img/pexels-pixabay-414807.jpg" alt="" width="140px" height="90px">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Example blog post title</h6>
                                        <small class="text-body-secondary">January 15, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="featurette-divider">
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-4 link-body-emphasis text-decoration-none border-top" href="#">
                                    <img src="../img/pexels-cats-coming-421999.jpg" alt="" width="140px" height="90px">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                        <small class="text-body-secondary">January 14, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="featurette-divider">
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-4 link-body-emphasis text-decoration-none border-top" href="#">
                                    <img src="../img/pexels-pixabay-159397.jpg" alt="" width="140px" height="90px">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                        <small class="text-body-secondary">January 13, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="featurette-divider">
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-4 link-body-emphasis text-decoration-none border-top" href="#">
                                    <img src="../img/pexels-pixabay-159397.jpg" alt="" width="140px" height="90px">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                        <small class="text-body-secondary">January 13, 2023</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <footer th:replace="/fragments/footer :: footer" ></footer>
            <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <script src="../js/eventos.js" type="text/javaScript"></script>
    </body>
</html>
