<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
    data-bs-theme="light"
    >
    <head th:replace="/fragments/head :: head"> </head>
    <header>
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>
    <body>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!-- Título de la noticia -->
                    <h1 th:text="${publicacion.titulo}" class="text-center mb-4"></h1>
                    <!-- Subtítulo de la noticia -->
                    <a th:href="@{/campana/campana_one/__${publicacion.campana.idCampana}__}" class="a-card">
                         <h4
                        th:text="${'Campaña: ' + publicacion.campana.titulo}"
                        class="text-center mb-4"
                        ></h4>
                    </a>
                   
                    <hr class="my-4" />
                    <div
                        th:if="${publicacion.votante != null}"
                        style="
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        "
                        >
                        <div style="display: flex; align-items: center">
                            <img
                                th:src="@{/imagen/perfil/__${publicacion.votante.id}__}"
                                alt="Imagen de perfil"
                                class="rounded-circle img-fluid"
                                style="width: 60px; height: 60px; margin-right: 10px"
                                />
                            <div style="display: flex; flex-direction: column">
                                <a
                                    th:href="@{/votante/__${publicacion.votante.id}__}"
                                    target="_blank"
                                    class="text-muted a-card"
                                    >
                                    <h7 class="card-periodista"
                                        >Por
                                        <span
                                            th:text="${publicacion.votante.nombreApellido}"
                                            class="fw-bold"
                                            ></span
                                        ></h7>
                                </a>
                                <div>
                                    <h7 th:text="${publicacion.votante.email}"></h7>
                                    <p
                                        sec:authorize="hasRole('ADM')"
                                        th:if="${publicacion.altaBaja}"
                                        th:text="Activa"
                                        class="text-success fw-bold"
                                        ></p>
                                    <p
                                        sec:authorize="hasRole('ADM')"
                                        th:if="${!publicacion.altaBaja}"
                                        th:text="Inactiva"
                                        class="text-danger fw-bold"
                                        ></p>
                                </div>
                            </div>
                        </div>

                        <a
                            sec:authorize="hasRole('ADM')"
                            th:if="${publicacion.altaBaja}"
                            type="button"
                            class="btn btn-outline-warning btn-sm px-4"
                            th:href="@{/publicacion/baja/__${publicacion.idPublicacion}__} "
                            >Dar de baja</a
                        >
                        <a
                            sec:authorize="hasRole('ADM')"
                            th:if="${!publicacion.altaBaja}"
                            type="button"
                            class="btn btn-outline-success btn-sm px-4"
                            th:href="@{/publicacion/alta/__${publicacion.idPublicacion}__} "
                            >Dar de alta</a
                        >
                        <!--<button th:if="${session.usuariosession != null}" sec:authorize="not(hasAnyRole('EMP', 'ADM'))" id="botonVotar" type="submit" class="btn btn-danger btn-lg m-2">-->
                        <button th:if="${session.usuariosession != null}"  sec:authorize="not(hasAnyRole('EMP', 'ADM'))" id="botonVotar"  type="submit" th:attr="class=${verif ? 'btn btn-danger btn-lg m-2' : 'btn btn-dark btn-lg m-2'}"            >
                            <i class="fa-solid fa-heart fa-xl"></i>
                            <span
                                id="votos"
                                class="ps-2"
                                th:text="${publicacion.votos.size()}"
                                ></span>
                        </button>
                        <button
                            th:if="${session.usuariosession == null}"
                            type="button"
                            class="btn btn-danger btn-lg m-2"
                            data-bs-toggle="modal"
                            data-bs-target="#registrate"
                            >
                            <i class="fa-solid fa-heart fa-xl"></i>
                        </button>
                    </div>
                    <content th:replace="/fragments/modalRegistrate :: content"></content>

                    <hr class="my-4" />
                    <!-- Imagen de la publicacion -->
                    <img
                        th:src="@{/imagen/publicacion/__${publicacion.idPublicacion}__}"
                        alt="Imagen de la publicacion"
                        class="img-fluid mb-3 w-100 shadow-lg"
                        />

                    <div class="d-flex mb-3">
                        <p class="text-muted fw-bold">
                            Fecha de publicación:
                            <span th:text="${publicacion.fechaAlta}"></span>
                        </p>
                    </div>

                    <p
                        th:text="${publicacion.descripcion}"
                        class="fw-semibold fst-italic"
                        ></p>
                    <p th:text="${publicacion.cuerpo}"></p>

                    <div
                        th:if="${publicacion.video != null}"
                        class="d-flex justify-content-center align-items-center m-2"
                        >
                        <iframe
                            width="560"
                            height="315"
                            th:src="${publicacion.video}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                            ></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer th:replace="/fragments/footer ::footer"></footer>

        <!-- JS Boostrap -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>
        <script th:inline="javascript">
            $(document).ready(function() {
            $("button#botonVotar").click(function() {
            var id = [[${publicacion.idPublicacion}]];
            $.ajax({
            type: "POST",
                    url: "/publicacion/" + id + "/votar",
                    success: function(data) {
                    if (data !== - 1 && data !== - 2) {
                    $("#votos").text(data);
                    if ($("button#botonVotar").hasClass("btn-dark")) {
                    $("button#botonVotar").removeClass("btn-dark").addClass("btn-danger");
                    } else{
                    $("button#botonVotar").removeClass("btn-danger").addClass("btn-dark");
                    }
                    } else if (data == - 2){
                    alert("Debe estar logueado como usuario votante.")
                    } else{
                    window.location.href = "/login"
                    }
                    },
                    error: function() {
                    alert("Debe estar logeado como usuario votante")
                    }
            });
            });
            });
        </script>
        <script src="/js/eventos.js" type="text/javaScript"></script>
    </body>
</html>
